@media screen and (max-width: 1024px) {
    nav, .menu, .banner, .gamer, .play-games, .play-games-2, .careers {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav {
        padding: 45px 50px;
        margin: 0 auto;
    }
    .menu li {
        margin: 10px 0;
    }

    #btn a {
        padding: 10px 20px;
    }

    .banner, .gamer, .video, .play-games, .play-games-2, .left-career, .categories, footer{
        padding: 20px;
    }
    .left-banner, .play-games, .play-games-2 {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .right-gamer {
        text-align: center;
    }
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .card .section-desc {
        font-size: 1rem;
        text-align: center;
    }

    .left-section {
        margin-right: 0;
        margin-bottom: 40px;
    }
    .play-games-2 .left-section {
        margin-left: 0;
        margin-top: 50px;
    }

    .play-games-2 .section-title {
        margin-top: 30px;
    }

    .left-section, .right-section {
        flex-basis: 100%;
    }
    
    .careers .career-container ul li {
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .careers .section-desc {
        font-size: 14px;
        line-height: 20px;
    }

    .left-banner h1 {
        font-size:  64px;
    }
    .left-banner h2 {
        font-size: 40px;
    }
    nav {
        padding: 30px 20px;
    }

    .btn-group button {
        margin-bottom: 10px;
    }
}