@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    padding: 87px 120px;
}

:root {
    --primary-color: #3A3A3A;
    --secondary-color: #787885;
    --btn-color: #E02C6D;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color);
}

nav h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 2rem;
    font-weight: 600;
    font-size: 1rem;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 0;
}

.banner-content h1{
    width: 85%;
    font-size: 3.15rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 16px;
}

.section-desc {
    width: 80%;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 16px;
}


.btn-primary {
    color: #fff;
    padding: 10px 24px;
    background: var(--btn-color);
    border: 0;
    border-radius: 41px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.banner-img {
    padding: 30px;
    padding-left: 2px;
    background-image: url('../images/Circle design.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.banner-img img {
    width: 100%;
}